// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width
@include mq($max-width: 1400px) {
  .container{
  	width: auto;
  }
  	.content_title h6:before{
  		display: none;
  	}

  	.content_imgs {
  		margin-left: -10px;
  		font-size: 0;
  		a{
  			margin-right: 0;
  			margin-left: 10px;
  			width: calc( 33.3% - 10px );
  			box-sizing: border-box;
  			img{
  				width: 100%;
  			}
  		}
  	}
  	.content_title {
  		height: auto;
  		padding: 0;
  		h6{
  			position: relative;
  		}
  		nav{
  			float: none;
  			width: 100%;
  			text-align: right;
  			li{
  				float: none;
  			}
  		}
  	}
  	.footer .menu{
  		margin: 0;
  	}
}

@include mq($max-width: 1250px) {
	.header{
		height: auto;
	}
		.search_block{
			float: right;
		}
}

@include mq($max-width: 1000px) {
	.sidebar{
		float: none;
		padding: 20px; 
		width: auto;
		margin: 0;
	}
	.content{
		float: none;
		padding: 20px; 
		width: auto;
		margin: 0;
	}
	.social{
		text-align: right;
		padding: 20px;
	}
	.sid_video {
		text-align: center;
		img{
			width: 100%;
		}
	}
	.sid_articles figure{
		margin: 10px auto;
	}
}

@include mq($max-width: 768px) {
	.content_imgs a{
		width: 48%;
		box-sizing: border-box;
	}
	.content_imgs{
		text-align: center;
	}
	.footer .social{
		float: right;
	}
	
	img{
		max-width: 100%;
	}
	.content_title nav li{
		width: 33%;
	}
	.footer .social{
		text-align: center;
		float: none;
		a{
			display: inline-block;
		}
	}
	footer{
	 .menu ul{
	 	text-align: center;
	 	display: block;
	 	li{
	 		display: inline-block;
	 	}
	 }
	}
	.menu li a{
		padding: 0 10px;
	}
}

@include mq($max-width: 740px) {
	.menu_trigger{
		padding: 10px ;
		display: block;
		img{
			position: relative;
			bottom: 8px;
		}
	}
	.logo{
		float: right;
		margin-left: 20px;
	}
	.menu {
		height: auto;
		float: none;
		padding: 25px 30px 0 0;
		ul{
			display: none;
		}
		li{
		display: block;
		height: auto;
		border: none;
		}
	}
}
@include mq($max-width: 500px) {
	.sidebar, .content{
		padding: 10px; 
	}
	.send, .search{
		float: right;
	}
	.search_block{
		width: auto;
	}
	.sid_articles figure{
		width: auto;
		max-width: 339px;
		height: auto;
	}
	.content_imgs a{
		margin: 0 0 20px 0;
		width: 100%;
	}
	footer{
		.menu ul{
			display: none !important ;
		}
	}
}